@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  scroll-behavior: smooth;
}

.custom-img{
  background-image: url("/assets/msc-bg.jpeg");
}

h2{
  color:#625A81;
  font-size: 40px;
}

/* p{
  color : #DAD3F5;
} */


polyline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1.5s linear alternate infinite;
  animation-delay: .5s;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

  /* try to display about with flexbox */
  .about__parent {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: repeat(3, .5fr) repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }    
  .about__title { grid-area: 1 / 1 / 2 / 2; }
  .about__child1 { grid-area: 2 / 1 / 4 / 2; }
  .about__child2 { grid-area: 1 / 2 / 3 / 3; }
  .about__img { grid-area: 3 / 2 / 4 / 3; }

  .projecthome__parent {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: repeat(3, .5fr) repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .projecthome__title { grid-area: 1 / 1 / 2 / 2; }
    .projecthome__child1 { grid-area: 2 / 1 / 3 / 2; }
    .projecthome__child2 { grid-area: 2 / 2 / 3 / 3; }
    .projecthome__img { grid-area: 1 / 2 / 1 / 3; }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  #cover:hover {
    display:block
  }

  /* .back-card{
    position: absolute;
    width: 100%;;
    height: 100%;
    backface-visibility: hidden;
    background: green;
    color: purple;
    transform: rotateY(180deg);
    
  } */

  .animation-pulse {
    /*box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
    transform: scale(0.8);*/
    animation: pulse 3s infinite;
}
@keyframes pulse {
  0% {
      transform: scale(0.95);
      /* box-shadow: 0 0 0 0 rgba(229, 62, 62, 1); */
  }

  70% {
      transform: scale(1);
      /* box-shadow: 0 0 0 60px rgba(229, 62, 62, 0); */
  }

  100% {
      transform: scale(0.95);
  }
}

#active{
  color: blueviolet;

}
/* Portfolio Select */
